// Font
@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Book.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Circular Std';
    src: url('/fonts/CircularStd-Bold.ttf');
    font-weight: 700;
}

$font-size: 16px;
$font-family: 'Circular Std', sans-serif;
$line-height: 1.6;

// Colors
$primary: #18A7FF;
$success: #499861;
$danger: #CC4343;
$warning: #e2aa0e;

$text-primary: #2E2E46;

$text-secondary: rgba(#2D3140, 0.6);

// Mockup sizes
$full-width: 1065;

// Container  sizes
$container-width: 1170;
$container-padding: 0 20px
